# Ignore Qt-Project user files
*.user
.vscode/
.qtcreator/
tests/
doc/output/client
doc/output/server
TODO

#ignore only cmake user presets in root folder
/CMakeUserPresets.json

# Python Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# CMake build directories
/build*

# Ignore everything in .github except workflows and FUNDING.yml
/.github/**
!/.github/
!/.github/FUNDING.yml
!/.github/workflows/
!/.github/workflows/**
