# Ignore Qt-Project user files
*.user
.vscode/
tests/
doc/output/client
doc/output/server
TODO

#ignore only cmake user presets in root folder
/CMakeUserPresets.json

# Python Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
